.root {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  background-color: #00ffb8;
}
.headernav {
  display: flex;
  gap: 40px;
}
.main {
  display: flex;
  padding: 20px;
  border-radius: 20px;
  justify-content: space-between;
  background-color: #eee;
}
